# if running bash
if [ -n "$BASH_VERSION" ]; then
    if [ -f "$HOME/.bashrc" ]; then
	    . "$HOME/.bashrc"
    fi
fi

# /etc/profile will add /**/sbin to PATH if we are root
# I want these added if we are member of sudo group
if [ ! "$(id -u)" -eq 0 ] && [ -n "$(groups | grep -o sudo)" ]; then
  PATH="$PATH:/usr/local/sbin:/usr/sbin:/sbin"
fi

{{ $homeDir := .chezmoi.homeDir }}
{{- $paths := list ".local/bin" ".asdf/shims" -}}
{{- range $index, $value := $paths -}}
{{$path := (joinPath $homeDir $value) -}}
PATH="{{ $path }}:$PATH"
{{ end }}

# set default editor
export EDITOR=$(for cmd in hx nano vi; do command -v "$cmd" && echo "$cmd" && break; done)
export VISUAL="$EDITOR"
